/*_______________uPortal Images_______________
--------------------------------------------------------------------------*/
.img-float-left {
}

.img-float-right {
}

/*_______________uPortal Tables_______________
--------------------------------------------------------------------------*/
table {
border-collapse: collapse;
}

.table-content, .table-content-iso, .table-content-top, .table-content-left-top, .table-content-right-top, .table-content-left, .table-content-right, .table-content-single, .table-content-single-top, .table-content-bottom, .table-content-left-bottom, .table-content-right-bottom, .table-content-single-bottom {
padding: 10pt;
border: 1px solid #CCC;
}

.table-extend, .table-extend-bottom {
padding: 10pt;
border: 1px solid #CCC;
}

.table-light, .table-light-left-top, .table-light-right-top, .table-light-left, .table-light-right, .table-light-single, .table-light-bottom, .table-light-left-bottom, .table-light-right-bottom, .table-light-single-bottom {\
padding: 10pt;
border: 1px solid #CCC;
}

.table-nav, .table-nav-gradebook {
padding: 10pt;
border: 1px solid #CCC;
}

.table-option, .table-option-right, .table-option-left, .table-option-single, .table-option-bottom, .table-option-right-bottom, .table-option-left-bottom, .table-option-single-bottom {
padding: 10pt;
border: 1px solid #CCC;
}

.th, .th-right, .th-left, .th-top, .th-top-single, .th-top-right, .th-top-left, .th-thin, .th-thin-left, .th-thin-right {
padding: 10pt;
border: 1px solid #000;
}

/*====================================================*/



/*==========================PORTAL CHANNELS==========================
Classes for portal channels */


.uportal-button-disabled{
}


/*_______________LMS Channel View Navigation_______________
------------------------------------------------------------------------------------------------*/
.views{
}


.views-title{
}

/*_______________LMS Channel Sorting_______________
-----------------------------------------------------------------------------------*/
A.sort{
}

A.sort:hover{
}

A.sort:visited{
}

/*_______________LMS Channel Page Navigation_______________
------------------------------------------------------------------------------------------------*/
.page-menu {
}

.page-menu-current {
}

A.page-menu {
}

A.page-menu:hover {
}

/*_______________LMS Navigation Channel_______________
----------------------------------------------------------------------------------------*/
.table-nav-channel{
}

.table-row-nav-channel{
}

.nav-folder-administration{
}

.nav-folder-subscription{
}

.nav-folder-academics{
}

a.nav-folder{
}

a.nav-folder:hover{
}

a.nav-folder-selected{
}

a.nav-folder-selected:hover{
}

IMG.nav-folder-selected{
}

.nav-offering{
}

a.nav-offering{
}

a.nav-offering:hover{
}

a.nav-offering:visited{
}

a.nav-offering-selected:link, a.nav-offering-selected:visited {
}

a.nav-offering-selected:hover{
}

a.nav-offering-selected:visited{
}

.nav-offering-inactive{
}

/*_______________LMS Gradebook Channel_______________
-----------------------------------------------------------------------------------------*/
.ADA-invisible{
}

.gradebook-empty, .gradebook-empty-right, .gradebook-empty-left-top, .gradebook-empty-top, .gradebook-empty-right-top, .gradebook-empty-left-bottom, .gradebook-empty-bottom, .gradebook-empty-right-bottom{
padding: 10pt;
border: 1px solid #CCC;
}

.gradebook-user, .gradebook-user-left, .gradebook-user-right{
padding: 10pt;
border: 1px solid #CCC;
}

.gradebook-data, .gradebook-data-right, .gradebook-data-bottom, .gradebook-data-right-bottom{
padding: 10pt;
border: 1px solid #CCC;
}

input.sort{
}

/*_______________LMS Roster Channel_______________
----------------------------------------------------------------------------------*/
.enrolled{
}

.enrolled-bottom{
}

.pending{
}

.pending-bottom{
}

/*_______________LMS Calendar Channel_______________
--------------------------------------------------------------------------------------*/
.calendar-title{
}

.th-calendar{
}


.weekend-title1, .weekend-title2, .weekday-title, .weekview-title1, .weekview-title7, .weekview-title{
padding: 10pt;
border: 1px solid #000;
}

.weekday, .weekend1, .weekend7{
padding: 10pt;
border: 1px solid #CCC;
}

.current-day, .current-day1, .current-day7{
background-color: #FEFFC3;
padding: 10pt;
border: 1px solid #CCC;
font-weight: bold;
}

.not-a-day{
}

.not-a-day1{
}

.not-a-day7{
}

.calendar-weekview-dom{
}

.calendar-weekview-dom2{
}

a.calendar:link, a.calendar:visited {
}

a.calendar-event:link, a.calendar-event:visited {
}

.calendar-event-text{
}

.calendar-event-title{
}

.calendar-event-sub{
}
/*====================================================*/
