            <div id="categoryCrumbTrail">
              #foreach ($blogCategory in $BLOJSOM_ALL_CATEGORIES)
                  #if ($blogCategory.getCategory().equals("/"))
                      <a href="$blogCategory.getCategoryURL()" title="Top">All</a> &gt;
                  #else
                      #set ($blogCategoryBuilder="/")
                      #foreach ($thisblogCategory in $BLOJSOM_REQUESTED_CATEGORY.toString().split("/"))

                          #if ($thisblogCategory != "")
                              #set ($blogCategoryBuilder="$blogCategoryBuilder$thisblogCategory/")

                              #if ($blogCategory.getCategory().equals("$blogCategoryBuilder"))
                                  #if ($blogCategory.getName())
                                      #set ($blogCategoryName=$blogCategory.getName())
                                  #else
                                      #set ($blogCategoryName=$blogCategory.getCategory())
                                  #end

                                  <a href="$blogCategory.getCategoryURL()" title="Click here to view the entire contents of the category" class="rounded">$blogCategoryName</a> &gt;

                              #end
                          #end
                      #end
                  #end
              #end
            </div>

