BODY{
	background: #FFF;
}
A {
	color : #3366CC;
}
A:VISITED {
	color : #3366CC;
}
A:HOVER {
	color : #FF6300;
}
A.navigation {
	color : #3366CC;/* Changed from #fff to solve Classifieds Issue with white on white */
	font-weight : bold;
}
A.navigation:visited {
	color : #3366CC;/* Changed from #fff to solve Classifieds Issue with white on white */
	font-weight : bold;
}
A.navigation:hover {
	color : #FF6300;
	font-weight : bold;
	text-decoration: underline;
}
.navigation-selected{
	font-weight : bold;
	color : #FFF;
}
A.uportal-navigation-category{
	color : #666;
}
A.uportal-navigation-category:visited{
	color : #666;
}
A.uportal-navigation-category:hover{
	color : #FF6300;
}
.uportal-navigation-category-selected{
	font-weight : bold;
	color : #000000;
}
A.uportal-navigation-channel{
	color : Black;
}
A.uportal-navigation-channel:visited{
	color : Black;
}
A.uportal-navigation-channel:hover{
	color : #FF6300;
}
.uportal-navigation-channel-selected{
	background : #99CC00;
	color : #000;
}
.uportal-text{
	color : #666;
}
.uportal-text-small{
	color : #4A7194;
    font-size: 7pt;
}
.uportal-button{ /* overwritten in main.css */
}
.uportal-label{
	color : Black;
	font-weight : bold;
}
.uportal-input-text{
	color : #000;
	font-family: Monaco, Andale Mono, monospace;
}
.uportal-text-reversed{
	color : #FFF;
}
.uportal-crumbtrail{
	color : #666;
}
.uportal-copyright{
	color : #D8D8D8;
}
.uportal-channel-text{
	color : #666;
}
.uportal-channel-title{
	color : #FFF;
	font-weight : bold;
}
.uportal-channel-title-reversed{
	color : #666;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #999;
	font-weight : bold;
}
.uportal-channel-subtitle-reversed{
	color : #333;
	font-weight : bold;
}
.uportal-channel-emphasis{
}
.uportal-channel-strong{
}
.uportal-channel-code{
	color : #000;
	font-family: Monaco, Andale Mono, monospace;
}
.uportal-channel-copyright{
	color : #999;
}
.uportal-channel-warning{
	color : #FF6300;
}
.uportal-channel-error{
	color : #FF6300;
}
.uportal-channel-table-caption{
	color : #333;
	font-weight : bold;
	text-align: center;
}
.uportal-channel-table-header{
	color : #333;
	font-weight : bold;
	text-align: left;
}
.uportal-channel-table-row-even{
	color : Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-row-odd{
	color : #666666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-background{
	background : #FFF;
}
.uportal-background-dark{
	background : #999;
}
.uportal-background-med{
	background : #D8D8D8;
}
.uportal-background-light{
	background : #F5F5F6;
}
.uportal-background-content{
	background : #FFF;
}
.uportal-background-highlight{
	background : #EDEEF2;
}
.uportal-background-shadow{
	background : #000000;
}
.uportal-background-page{
	background : #FFF;
}
.uportal-background-semidark{
	background: #555;
}
.uportal-background-selected{
	background : #6487DC;
}
.uportal-background-neutral-dark{
	background: #666666;
}
.uportal-background-neutral-light{
	background: #CCCCCC;
}
