<html>
    <head>
        <title> Group Chat - Developers</title>
        <link type="text/css" rel="stylesheet" href="media/org/jasig/portal/layout/tab-column/nested-tables/unicon/skin/unicon.css">
    </head>
    <body>
        <script> window.runningApplet = true; </script>
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center">
                    <applet codebase="${codebase}" code="${code}" width="${width}" height="${height}">
                        <param name="groupId" value="${groupId}">
                        <param name="authentication" value="${authentication}">
                        <param name="username" value="${username}">
                        <param name="chatAllowed" value="${chatAllowed}">
                        <param name="chatContributor" value="${chatContributor}">
                        <param name="chatroom" value="${chatroom}">
                        <param name="lockSettings" value="${lockSettings}">
                        <param name="hideCanvas" value="${hideCanvas}">
                        <param name="addUserInfo" value="${addUserInfo}">
                        <param name="audioPage" value="${audioPage}">
                        <param name="bootUser" value="${bootUser}">
                        <param name="banUser" value="${banUser}">
                        <param name="allowUser" value="${allowUser}">
                        <param name="sendMessage" value="${sendMessage}">
                        <param name="pageUser" value="${pageUser}">
                        <param name="drawingUser" value="${drawingUser}">
                        <param name="clearCanvas" value="${clearCanvas}">
                        <param name="servername" value="${servername}">
                        <param name="portnumber" value="${portnumber}">
                        <param name="xsize" value="${xsize}">
                        <param name="ysize" value="${ysize}">
                        <param name="usepasswords" value="${usepasswords}">
                        <param name="autoconnect" value="${autoconnect}">
                        <param name="height" value="${height}">
                        <param name="embed" value="${embed}">
                        <param name="key" value="${key}">
                        If you are reading this text then your browser is not capable of displaying applets.  Specifically, the Uportal Chat Applet.    
                    </applet>
                </td>
            </tr>
        </table>
    </body>
</html>

