/* General Styles Expected by styles below
    WARNING: May conflict with other portal styles
*/

/* New styles */
.table-nav input, .submit-container input {margin:0px 3px; padding:0px 2px; }

/* Calendar Channel */
table {clear:both; float:none;} 


/* Extra styles from main.css */
/* Used in Calendar Invite Selector */
input.image {
background: transparent;
border: 0px;
}

/*  CHANNEL TOOLBAR ELEMENTS */
/*------------------------------------------------*/
.portlet-toolbar-container {
line-height: normal;
background: url("../images/navigation/page_nav_bg.jpg") repeat-x;
color : #505050;
height: 35px;
padding-left: 0px;
}

.tool {
margin: 5px 0 5px 5px;
float: left;
}

.tool-right {
margin: 0 5px 5px 5px;
float: right;
position: relative;
}

.tool-tab-body {
font-size: 10pt;
font-family: verdana, arial;
font-weight: bold;
padding: 5px 10px 5px 10px;
}

.tool-tab-right {
background: url("../images/navigation/calendar_nav_right.gif") no-repeat top left;
}

.tool-tab-left {
background: url("../images/navigation/calendar_nav_left.gif") no-repeat top right;
}

.tool a, .tool a:hover, .tool a:visited{
color: #333333;
text-decoration: none;
}

.selected-tool {
background-color: #AFAFAF;
color: #FFFFFF;
}

a.selected-tab-link, a.selected-tab-link:link, a.selected-tab-link:visited, a.selected-tab-link:hover {
    color: #FFF;
}

.tool2 {
padding: 2px 8px;
float: left;
font-size: 9px;
font-family: verdana, arial;
font-weight: bold;
height: 18px;
}

.tool3 {
margin: 2px 5px 5px 5px;
float: left;
}

.tool3 a, .tool3 a:hover, .tool3 a:visited{
text-decoration: none;
}

.tool-divider {
float: left;
}

.selected-group {
background-color: #efefef;
border-bottom: #e1e1e1;
padding: 2px;
}

.page-title {
margin: 10px 10px 15px 10px;
font-size: 18pt;
font-weight: normal;
font-family: arial;
color: #333333;
}

.page-subtitle {
font-weight: bold;
margin: 10px 10px 0 10px;
}

.page-toolbar-container {
margin: 0;
padding: 2px;
border-bottom: 1px solid #CCCCCC;
font-size: 10pt;
height: 18px;
_width: 100%;
}

.toolbar-img {
margin: 0px 4px 0px 4px;
}

.toolbar-table {
font-size: 7pt;
}

.bounding-box1 {
margin: 0 0 15px 0;
_width: 100%;
padding: 0px;
}

.bounding-box2 {
padding: 3px;
margin: 10px;
background-color: #FFFFFF;
border: 1px solid #EAEAEA;
text-align: center;
_width: 100%;
}

.bounding-box-right {
margin: 15px;
padding: 3px;
background-color: #FFFFFF;
border: 1px solid #E3E3E3;
float: right;
}

.bounding-box3 {
padding: 5px;
margin: 0 0 0 0;
background-color: #F5F5F5;
_width: 100%;
}

.bounding-box4 {
padding: 4px;
margin: 0;
background-color: #BBBBBB;
border-bottom: 1px solid #E3E3E3;
color: white;
font-weight: bold;
_width:100%;
}

.bounding-box5 {
padding: 5px;
margin: 0 5px 0 5px;
background-color: #FAFAFA;
border: 1px solid #E3E3E3;
_width:100%;
}

.bounding-box6 {
padding: 5px;
margin: 5px 10px;
_width:100%;
}

.bounding-box7 {
padding: 5px;
margin: 10px 30px;
_width:100%;
}

#forum-searchbox {
float:right;
}

.forum-list {
margin: 5px 15px 15px 15px;
background-color: #FAFAFA;
border: 1px solid #afafaf;
}


.border-left {
border-left: 1px solid #E3E3E3;
}

a.whitetext {
color: #FFFFFF;
font-weight: bold;
text-decoration: none;
}


/* CHANNEL ELEMENTS */
/*-----------------------------------------------------------*/
/* Channel section. Elements which define channel-specific styles.  */

/* Common */

.indent {
margin-left: 10px;
}

.nopad {
padding: 0px;
margin: 0px;
}

.gradient-page-title {
background: url("../images/brand/gradient_title_bg.gif") repeat-x;
font-size: 14px;
color: #477BAD;
padding: 5px 0 2px 10px;
font-family: arial;
margin-bottom: 10px;
}

.submit-container {
text-align: center;
border: 1px solid #7BADDD;
background-color: #F0F5FB;
width:350px;
padding: 5px;
margin: 15px;
}

.submit-comments {
color: #477BAD;
margin: 5px 0 10px 0;
}

.top-bottom-space {
margin: 10px 0 30px 0;
}

.small-pad-tb {
padding: 3px 0 3px 0;
}

.whitelink a:link, .whitelink a:visited, .whitelink a:hover {
color: #FFFFFF;
font-weight: bold;
text-decoration: underline;
}

/* Survey */

.survey-toolbar-container {
margin: 0 0 0 0;
padding: 3px;
background-color: #DDDDDD;
border-bottom: 1px solid #CCCCCC;
font-size: 10pt;
height: 18px;
_width: 100%;
}

.survey-subquestion-container {
margin: 0 0 0 0;
padding: 3px;
background-color: #EEEEEE;
font-size: 10pt;
height: 18px;
_width: 100%;
}

.survey-page-title {
padding-left: 10px;
color:#477BAD;
font-size: 14pt;
font-family: arial;
}

.survey-content-left {
padding: 2px 2px 2px 15px;
}

.survey-content-right {
padding: 2px 15px 2px 2px;
}

.survey-line {
margin: 10px 0 10px 0;
border-bottom: 1px solid #7BADDD;
}

.survey-form-td {
background-color: #477BAD;
color: #FFFFFF;
font-weight: bold;
padding: 5px 15px 5px 15px;
}

.survey-survey-td {
padding: 5px 15px 5px 15px;
border-right: 1px solid #477BAD;
width: 20%;
}

.survey-survey-td div {
font-size: 10pt;
font-family: verdana;
}

.survey-survey-td-col1 {
border-right: 1px solid #477BAD;
border-left: 1px solid #477BAD;
padding-left: 15px;
width: 40%;
}

.survey-survey-td-bottom {
padding: 5px 15px 5px 15px;
border-right: 1px solid #477BAD;
border-left: 1px solid #477BAD;
border-bottom: 1px solid #477BAD;
}

.survey-button {
background-color: #666666;
border: 1px solid #FFFFFF;
color: #FFFFFF;
font-weight: bold;
font-size: 10pt;
text-decoration: none;
cursor: hand;
cursor: pointer;
}

.survey-step1-subtitle {
padding: 10px;
font-size: 14pt;
}

.edit-survey-table {
font-size: 9pt;
}

.edit-survey-table .td-left {
width: 100px;
padding: 5px;
}

.edit-survey-table .td-right {
padding: 5px;
}

.edit-survey-table select {
margin-left: 3px;
}

.survey-editor-subtitle {
color: #477BAD;
border-bottom: 1px solid #477BAD;
padding: 10px 0 3px 5px;
font-weight: bold;
margin-bottom: 10px;
}

.survey-tab-container {
border-bottom: 7px solid #477BAD;
height: 23px;
}

.survey-tab {
float: left;
border: 1px solid #477BAD;
_top: 2px;
padding: 6px;
width: 130;
font-weight: bold;
text-align: center;
margin-right: 4px;
position: relative;
}

.survey-tab-selected {
float: left;
background-color: #477BAD;
_top: 2px;
padding: 6px;
width: 130;
color: #FFFFFF;
font-weight: bold;
text-align: center;
margin-right: 4px;
position: relative;
}

.survey-tab-subtitle {
height: 40px;
background-color: #F0F0F0;
text-align: right;
padding: 7px 20px 7px 10px;
vertical-align: middle;
}

.survey-peephole-container {
text-align: center;
margin: 10px;
}

.personal-container {
width: 150px;
padding: 6px;
background-repeat: no-repeat;
text-align: center;
}

.personal-container a:link, .personal-container a:visited, .personal-container a:hover{
font-weight: bold;
padding-left: 3px;
}

.survey-spacer {
margin:5px;
}

.survey-peephole-text {
margin-top: 14px;
font-size: 10pt;
}

.survey-form-links {
padding: 8px;
background-color: #6194C3;
float: right;
}

/* ADDRESS BOOK SERVANT */

.addr-tab-container {
background-color: #F1F1F1;
border-bottom: 1px solid #cccccc;
height: 30px;
padding-left: 10px;
}

.addr-tab-left {
background: #999999 url("../images/navigation/rounded_tab_left.gif") no-repeat top left;
padding-left: 4px;
float: left;
margin: 6px 2px 0 0;
position: relative;
_top: 1px;
}

.addr-tab-right {
background: url("../images/navigation/rounded_tab_right.gif") no-repeat top right;
padding-right: 4px;
}

.addr-tab {
padding: 4px;
font-family: arial;
font-size: 11px;
font-weight: bold;
}

.addr-tab input {
color: #FFFFFF;
font-family: arial;
font-size: 11px;
font-weight: bold;
text-decoration: underline;
cursor: pointer;
cursor: hand;
}

.addr-tab-selected-shell {
background-color: #FFFFFF;
color: #666666;
}

.addr-tab-selected {
padding: 5px;
font-family: arial;
font-size: 11px;
font-weight: bold;
border-top: 1px solid #CCCCCC;
position: relative;
}

.select-container {
padding-bottom: 0px;
padding-top: 10px;
}

.addr-browse-header {
background-color: #CCCCCC;
color: #FFFFFF;
padding: 5px;
font-weight: bold;
}

.addr-selected-header {
background-color: #477BAD;
color: #FFFFFF;
padding: 5px;
font-weight: bold;
}

.addr-group-selected {
background-color: #DCE9F6;
}

/* CAMPUS NEWS */
.areabox1 {
    margin: 10px;
    padding:40px 20px;
    text-align:center;
    background-color:#E8E8E8;
    border: 2px solid #999;
}

.areabox2 {
    margin: 10px;
    padding:20px;
    text-align:center;
    background-color:#F8F8F8;
    border: 2px solid #CCC;
}

.areabox3 {
    margin: 10px;
    padding:20px;
    text-align:left;
    background-color:#F8F8F8;
    border: 2px solid #CCC;
}

ul.news-topic-list {
    list-style-image: url(../../../../../com/interactivebusiness/news/newspaper_12.gif);
}

ul.news-topic-list li {
    margin-top:5px;
}

ul.news-topic-list p {
    margin:0px;
    padding:0px;
}

ul.news-topic-list span {
    font-weight: bold;
    margin-left:5px;
}

ul.news-article-list {
    list-style-image: none;
    list-style-type: disc;
}

div.show-abstract-toggle {
    margin: 10px 0px 20px 10px;
}

.CampusNewsChannel_News_Main h2.page-title {
    margin-bottom: 20px;
}

.empty-message-box {
    border:1px solid;
    padding:5px;
    text-align:center;
}

/*
div.areabox1 a, div.areabox1 a:link, div.areabox1 a:visited, div.areabox1 a:hover, div.areabox2 a, div.areabox2 a:link, div.areabox2 a:visited, div.areabox2 a:hover,  {
    text-decoration: underline;
    font-weight: bold;
}
*/

.alt-row-even {
}

.alt-row-odd {
    background-color:#E8E8E8;
}


/**************************************/
/*********  SURVEY STYLING  ************/
.custom {
}
.custom .survey-title {
	font-size: 11pt;
}
.custom .question-title {
	margin-top: 15px;
}
.custom .question-title span{
	font-size: 13pt;
	line-height: 15pt;
	margin-right: 15px;
	color: #333333;
	font-family: georgia, times new roman;
}
.custom .question-list {
	list-style: none;
	margin: 10px 0 5px 10px;
	padding: 0;
}
.custom .question-list li {
	padding: 3px 15px;
}
.custom .question-item input{
	padding: 3px;
}
.custom .question-list .survey-item-row {
	display: inline;
}
.custom .subquestion-title {
	padding-bottom: 3px;
	margin-bottom: 5px;
}
.custom .summary-table {
	margin-left: 10px;
}
.custom .summary-table td {
	padding: 4px;
}
.custom .summary-table input {
	padding: 0;
	margin: 0 5px 0 0;
}
.custom .stats-container {
	width: 100px;
	border: 1px solid #BBBBBB;
	background-color: #DFDFDF;
	float: left;
	margin-right: 5px;
}
.custom .stats {
	background-color: #99FF66;
	height: 12px;
	border-right: 1px solid #BBBBBB;
}
.results-number {
	border: 1px solid #CCCCCC;
	background: #FFFFCC;
	padding: 4px 10px;
	
}

.blocks .survey-table td {
	padding: 3px;
	line-height: 16px;
}
.blocks .summary-table {
	margin-left: 10px;
}
.blocks .summary-table td {
	padding: 4px;
}
.blocks .summary-table input {
	padding: 0;
	margin: 0 5px 0 0;
}
.blocks .stats-container {
	width: 100px;
	border: 1px solid #BBBBBB;
	background-color: #DFDFDF;
	float: left;
	margin-right: 5px;
}
.blocks .stats {
	background-color: #99FF66;
	height: 12px;
	border-right: 1px solid #BBBBBB;
}


.simple .survey-table td {
	padding: 3px;
	line-height: 16px;
}
.simple .summary-table {
	margin-left: 10px;
}
.simple .summary-table td {
	padding: 4px;
}
.simple .summary-table input {
	padding: 0;
	margin: 0 5px 0 0;
}
.simple .stats-container {
	width: 100px;
	border: 1px solid #BBBBBB;
	background-color: #DFDFDF;
	float: left;
	margin-right: 5px;
}
.simple .stats {
	background-color: #99FF66;
	height: 12px;
	border-right: 1px solid #BBBBBB;
}


.centered .survey-table td {
	padding: 3px;
	line-height: 16px;
}
.centered .summary-table {
	margin-left: 10px;
}
.centered .summary-table td {
	padding: 4px;
}
.centered .summary-table input {
	padding: 0;
	margin: 0 5px 0 0;
}
.centered .stats-container {
	width: 100px;
	border: 1px solid #BBBBBB;
	background-color: #DFDFDF;
	float: left;
	margin-right: 5px;
}
.centered .stats {
	background-color: #99FF66;
	height: 12px;
	border-right: 1px solid #BBBBBB;
}

/*_______________uPortal Tables_______________
--------------------------------------------------------------------------*/
/*
TABLE {
border-collapse: collapse;
}
*/

.table-content, .table-content-iso, .table-content-top, .table-content-left-top, .table-content-right-top, .table-content-left, .table-content-right, .table-content-single, .table-content-single-top, .table-content-bottom, .table-content-left-bottom, .table-content-right-bottom, .table-content-single-bottom {
padding: 5px;
font-size: 8pt;
}

.table-extend, .table-extend-bottom {
padding: 5px;
color: #555;
font-size: 8pt;
}

.table-light, .table-light-left-top, .table-light-right-top, .table-light-left, .table-light-right, .table-light-single, .table-light-bottom, .table-light-left-bottom, .table-light-right-bottom, .table-light-single-bottom {
padding: 5px;
color: #000;
font-size: 8pt;
}

.table-nav, .table-nav-gradebook {
padding: 5px;
color : #555;
font-size: 8pt;
text-align: center;
}

.table-option, .table-option-right, .table-option-left, .table-option-single, .table-option-bottom, .table-option-right-bottom, .table-option-left-bottom, .table-option-single-bottom {
padding: 5px;
color: #555;
font-size: 8pt;
}

.th, .th-right, .th-left, .th-top, .th-top-single, .th-top-right, .th-top-left, .th-thin, .th-thin-left, .th-thin-right {
padding: 5px;
border-bottom: 1px solid #D8D8D8;
color: #555;
font-size: 8pt;
font-weight: bold;
text-align:left;
}

/*====================================================*/


/*==========================PORTAL CHANNELS==========================
Classes for portal channels */


.uportal-button-disabled{
color : #ACAFB9;
font-weight: bold;
background : #FFFFFF;
}


/*_______________LMS Channel View Navigation_______________
------------------------------------------------------------------------------------------------*/
.views{
/*background: #EBEBEC;*/
background-color: #F3F6FC;
color : #505050;
padding-left: 2px;
padding-right: 2px;
font-size : 7pt;
font-weight : normal;
border-top: 1px solid #D8D8D8;
border-bottom: 1px solid #FFFFFF;
}


.views-title{
/*background: #EBEBEC;*/
background-color: #F3F6FC;
color : #505050;
font-size : 7pt;
font-weight : normal;
text-align: center;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 2px;
padding-right: 1px;
border-top: 1px solid #D8D8D8;
border-bottom : 1px solid #FFFFFF;
}

.views-subtitle{
background-color: #F3F6FC;
font-size: 9pt;
padding: 2px 2px 2px 6px;
}

/*_______________LMS Channel Sorting_______________
-----------------------------------------------------------------------------------*/
A.sort{
	color: #3366CC;
	font-size : 9pt;
}

A.sort:hover{
	color: #FF6300;
	font-size : 9pt;
}

A.sort:visited{
	color: #3366CC;
	font-size : 9pt;
}

/*_______________LMS Channel Page Navigation_______________
------------------------------------------------------------------------------------------------*/
.page-menu {
	color: #BDB9D5;
}

.page-menu-current {
	color: #99CC00;
	font-weight: bold;
}

A.page-menu {
	color: #684787;
}

A.page-menu:hover {
	color: #99CC00;
}

/*_______________LMS Navigation Channel_______________
----------------------------------------------------------------------------------------*/
.table-nav-channel{
	background : #FFFFFF;
	border-top: 2px solid #F5F5F6;
	border-bottom: 2px solid #F5F5F6;
	border-left: 2px solid #F5F5F6;
	border-right: 2px solid #F5F5F6;
	padding: 5px;
	color : #000000;
	font-size : 8pt;
}

.table-row-nav-channel{
}

.nav-folder-administration{
}

.nav-folder-subscription{
}

.nav-folder-academics{
}

a.nav-folder{
	font-weight: bold;
}

a.nav-folder:hover{
	font-weight: bold;
}

/*a.nav-folder:visited{
	font-weight: bold;
}*/

a.nav-folder-selected{
	font-weight: bold;
}

a.nav-folder-selected:hover{
}

/*a.nav-folder-selected:visited{
}*/

IMG.nav-folder-selected{
}

.nav-offering{
	font-size : 8pt;
	padding: 3px 0 3px 15px;
}

a.nav-offering{
}

a.nav-offering:hover{
}

a.nav-offering:visited{
}

a.nav-offering-selected:link, a.nav-offering-selected:visited {
    background: #FEFF99;
	color: #000;
	font-weight: bold;
}

a.nav-offering-selected:hover{
	color: #FF6300;
}

a.nav-offering-selected:visited{
	color: #000;
}

.nav-offering-inactive{
	color: #253FB1;
	font-style: italic;
	padding-left: 15px;
}

/*_______________LMS Gradebook Channel_______________
-----------------------------------------------------------------------------------------*/
.ADA-invisible{
	display : none;
}

.gradebook-empty{
border-top: 0px solid #F5F5F6;
border-bottom: 0px solid #F5F5F6;
border-left: 2px solid #F5F5F6;
border-right: 0px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-empty{
border-top: 0px solid #F5F5F6;
border-bottom: 0px solid #F5F5F6;
border-left: 2px solid #F5F5F6;
border-right: 0px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-empty-right{
border-top: 0px solid #F5F5F6;
border-bottom: 0px solid #F5F5F6;
border-left: 0px solid #F5F5F6;
border-right: 2px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-empty-left-top{
border-top: 2px solid #F5F5F6;
border-bottom: 0px solid #F5F5F6;
border-left: 2px solid #F5F5F6;
border-right: 0px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-empty-top{
border-top: 2px solid #F5F5F6;
border-bottom: 0px solid #F5F5F6;
border-left: 0px solid #F5F5F6;
border-right: 0px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-empty-right-top{
border-top: 2px solid #F5F5F6;
border-bottom: 0px solid #F5F5F6;
border-left: 0px solid #F5F5F6;
border-right: 2px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-empty-left-bottom{
border-top: 0px solid #F5F5F6;
border-bottom: 2px solid #F5F5F6;
border-left: 2px solid #F5F5F6;
border-right: 0px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-empty-bottom{
border-top: 0px solid #F5F5F6;
border-bottom: 2px solid #F5F5F6;
border-left: 0px solid #F5F5F6;
border-right: 0px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-empty-right-bottom{
border-top: 0px solid #F5F5F6;
border-bottom: 1px solid #F5F5F6;
border-left: 0px solid #F5F5F6;
border-right: 2px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-user{
background : #F0F0F0;
border-top: 1px solid #F5F5F6;
border-bottom: 1px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 1px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-user-left{
background : #F0F0F0;
border-top: 1px solid #F5F5F6;
border-bottom: 1px solid #F5F5F6;
border-left: 2px solid #F5F5F6;
border-right: 1px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-user-right{
background : #F0F0F0;
border-top: 1px solid #F5F5F6;
border-bottom: 1px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 2px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-data{
background : #E4E4E4;
border-top: 1px solid #F5F5F6;
border-bottom: 1px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 1px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-data-right{
background : #E4E4E4;
border-top: 1px solid #F5F5F6;
border-bottom: 1px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 2px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-data-bottom{
background : #E4E4E4;
border-top: 1px solid #F5F5F6;
border-bottom: 2px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 1px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

.gradebook-data-right-bottom{
background : #E4E4E4;
border-top: 1px solid #F5F5F6;
border-bottom: 2px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 2px solid #F5F5F6;
padding: 1px;
font-size : 8pt;
}

input.sort{
text-align: left;
font-weight: normal;
width: auto;
margin-left: 0px;
background-color: transparent;
color: #000000;
border: 0px;
}

/*_______________LMS Roster Channel_______________
----------------------------------------------------------------------------------*/
.enrolled{
border-top: 1px solid #F5F5F6;
border-bottom: 1px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 2px solid #F5F5F6;
padding: 5px;
color : #555143;
font-size : 8pt;
}

.enrolled-bottom{
background : #FFFFFF;
border-top: 1px solid #F5F5F6;
border-bottom: 2px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 2px solid #F5F5F6;
padding: 5px;
color : #555143;
font-size : 8pt;
}

.pending{
background : #99CC00;
border-top: 1px solid #F5F5F6;
border-bottom: 1px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 4px solid #F5F5F6;
padding: 5px;
color : #555143;
font-size : 8pt;
}

.pending-bottom{
background : #99CC00;
border-top: 1px solid #F5F5F6;
border-bottom: 4px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 4px solid #F5F5F6;
padding: 5px;
color : #555143;
font-size : 8pt;
}

/*_______________LMS Calendar Channel_______________
--------------------------------------------------------------------------------------*/
.calendar-title{
color : #333333;
font-family : Arial, Helvetica, sans-serif;
font-size : 14px;
font-weight : bold;
text-align: center;
padding: 10px;
}

.th-calendar{
font-family : Verdana, Arial, sans-serif;
font-size : 10px;
font-weight : bold;
}

.calendar-container {
padding: 8px 4px 8px 4px;
margin: 10px 10px 10px 10px;
border: 1px solid #D5E4F4;
font-family: verdana;
font-size: 9pt;
_width:100%;
}

.calendar-text {
font-family: verdana;
font-size: 11px;
color: #666666;
}

.calendar-text-sm {
font-family: verdana;
font-size: 9px;
color:#666666;
}

.mini-events-today {
font-family: verdana;
font-size: 11px;
font-weight: bold;
color: #2348AB;
text-align: center;
padding: 3px;
margin-top: 4px;
}

.mini-monthly-27 .mini-monthly-cell {
width: 27px;
height: 27px;
}

.mini-monthly-27 .mini-monthly-cell a{
text-decoration: none;
font-size: 11px;
}

.mini-monthly-20 .mini-monthly-cell {
width: 20px;
height: 20px;
}

.mini-monthly-20 .mini-monthly-cell a{
text-decoration: none;
font-size: 9px;
}

.mini-events-title {
margin: 0 10px 0 10px;
padding: 5px;
background-color: #7BADDD;
color: white;
font-size: 11px;
font-weight: bold;
}

.event-box {
padding:5px;
margin: 10px;
border: 1px solid #D5E4F4;
text-align: center;
_width:100%;
}

.weekday{
background-color: #D5E4F4;
padding: 0px;
font-weight : bold;
}

.weekend{
background-color: #F5F5F5;
padding: 0px;
font-weight : bold;
}

.current-day{
background: #FFFFFF;
border: 1px solid #FF6600;
padding: 0px;
color : #FF6600;
font-weight : bold;
}

.current-day a, .current-day a:hover, .current-day a:visited {
color: #FF6600;
}

.not-a-day{
background-color: #7BADDD;
border-top: 0px;
padding: 0px;
}

.weekday-title{
padding-bottom: 2px;
color : #477BAD;
font-size : 11px;
font-family: verdana, sans-serif;
font-weight : bold;
text-align: center;
}

.weekview-title1{
background : #c1c1c1;
border-top: 4px solid #F5F5F6;
border-bottom: 2px solid #F5F5F6;
border-left: 4px solid #F5F5F6;
border-right: 1px solid #F5F5F6;
padding: 2px;
color : #EDECF4;
font-size : 8pt;
font-weight : bold;
}

.weekview-title7{
background : #c1c1c1;
border-top: 4px solid #F5F5F6;
border-bottom: 2px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 4px solid #F5F5F6;
padding: 2px;
color : #EDECF4;
font-size : 8pt;
font-weight : bold;
}

.weekview-title{
background-color: #c1c1c1;
border-top: 4px solid #F5F5F6;
border-bottom: 2px solid #F5F5F6;
border-left: 1px solid #F5F5F6;
border-right: 1px solid #F5F5F6;
padding-top: 2px;
color : White;
font-size : 8pt;
font-weight : bold;
}

.calendar-weekview-dom{
background : #FFFFFF;
border-top: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
border-left: 2px solid #CCCCCC;
border-right: 2px solid #CCCCCC;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 5px;
padding-right: 5px;
color : #402B64;
}

.calendar-weekview-dom2{
background : #D5E4F4;
border-top: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
border-left: 2px solid #CCCCCC;
border-right: 2px solid #CCCCCC;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 5px;
padding-right: 5px;
color : #402B64;
}

a.calendar:link, a.calendar:visited {
}

a.calendar-event:link, a.calendar-event:visited {
}

.calendar-event-text{
}

.calendar-event-title{
color: #2F6BE2;
font-size: 12pt;
font-weight: bold;
}

.calendar-event-sub{
font-weight: bold;
font-size: 11pt;
}

.task-box {
padding: 5px;
_width: 100%;
}

.calendar-toolbar-container{
line-height: normal;
background-color: #F3F3F3;
color : #505050;
height: 37px;
padding-left: 10px;
}

.calendar-tool {
margin: 6px 2px 0 0;
float: left;
}

.calendar-navigation-right {
position: relative;
float: right;
padding: 5px;
margin: 5px;
}
 
.calendar-selected-tool {
background-color: #ADADAD;
color: #FFFFFF;
}

.calendar-tool-body {
padding: 6px 1px 7px 1px;
font-size: 9px;
font-weight: bold;
font-family: verdana;
}

.calendar-tool-left {
background: url("../images/navigation/calendar_nav_left.gif") no-repeat top right;
}

.calendar-tool-right {
background: url("../images/navigation/calendar_nav_right.gif") no-repeat top left;
}

a.calendar-top-link {
text-decoration: none;
color: #666666;
}

.calendar-spacer {
padding: 5px;
}

.calendar-navigation-container {
background-color: #D5E4F4;
height: 37px;
padding-left: 10px;
border-bottom: 1px solid #7BADDD;
}

.calendar-tab {
margin: 12px 2px 0 2px;
float: left;
padding: 5px 0 5px 0;
width: 60px;
text-align: center;
background-color: #477BAD;
position: relative;
_top: 2px;
}

.calendar-tab a:link, .calendar-tab a:visited, .calendar-tab a:hover {
color: #FFFFFF;
font-weight: bold;
text-decoration: none;
}

.calendar-tab-selected {
margin: 12px 2px 0 2px;
float: left;
background-color: #FFFFFF;
position: relative;
_top: 1px;
padding: 5px 0 5px 0;
width: 60px;
text-align: center;
border-top: 1px solid #7BADDD;
border-left: 1px solid #7BADDD;
border-right: 1px solid #7BADDD;
}

.daily-container {

}

.event-title {
font-size: 15;
font-family: arial, verdana;
padding: 10px 0 0 8px;
font-weight: normal;
}

.event-subtitle {
font-size: 10pt;
font-family: verdana;
font-weight: normal;
padding: 0 0 10px 8px;
}

.add-event-img {
margin-left: 5px;
}

.event-background {
background-color: #EFEFEF;
}

.weekly-event-row{ 
padding-left: 8px;
}

#CPE-CalenderS1 {
width: 170px;
}

#CPE-ToDoS1 {
width:180px;
}
/*====================================================*/

