/* Large Icons */
/* Referred to in configuration files */

.largePersonal, .largeShared, .largeNetwork, .largeBlog, .largeBlogAdmin, .largeLink, .largeWCM, .largeLiveText, .largeSakai {
display: block;
height: 56px;
width: 56px;
margin: 0px 15px 0px 5px;
float: left;
}

.largePersonal {
background: url("../images/icons/folder_personal_large.gif") no-repeat;
}

.largeShared {
background: url("../images/icons/folder_shared_large.gif") no-repeat;
}

.largeNetwork {
background: url("../images/icons/drive_network_large.gif") no-repeat;
}

.largeLink {
background: url("../images/icons/link_icon_large.gif") no-repeat;
}

.largeBlog {
background: url("../images/icons/blog_icon_large.gif") no-repeat;
}

.largeBlogAdmin {
background: url("../images/icons/blog_admin_icon_large.gif") no-repeat;
}

.largeWCM {
background: url("../images/icons/wcm_large.gif") no-repeat;
}

.largeLiveText {
background: url("../images/icons/livetext_icon_large.gif") no-repeat;
}

.largeSakai {
background: url("../images/icons/sakai_icon_large.gif") no-repeat;
}

span.largePersonal, span.largeShared, span.largeNetwork, span.largeLink, span.largeBlog, span.largeBlogAdmin, span.largeWCM, span.largeLiveText, span.largeSakai, span.noImage {
display: none;
}

.noImage {
display:none;
}
