/* TORO PORTLET ICON CONFIGURATION CSS
 *
 * Define CSS classes for icons within Toro portlets.
 *
 * For more information on Toro portlets, visit:
 * http://www.unicon.net/node/675
 * 
 * This CSS file is deployed with each Toro portlet.
 *
 * This CSS affects all Toro portlets.
 *
 * This CSS works in tandem with portlet_layout.css, which provides layout declarations, 
 * and portlet_styling.css, which provides visual styling declarations.
 *
 * Each declaration should be preceeded by .toro-portlet for proper namespacing
 * (to prevent CSS collision with the portal or other portlets).
 */


/* GLOBAL 
 * Declarations used in broad context.
--------------------------------------------------------------------------------------*/
.toro-portlet .noImage {
display:none;
}


/* LARGE ICONS 
 * Declaration for the larger-size icons.
--------------------------------------------------------------------------------------*/

.toro-portlet .largePersonal, .toro-portlet .largeShared, .toro-portlet .largeNetwork, .toro-portlet .largeBlog, .toro-portlet .largeBlogAdmin, .toro-portlet .largeLink, .toro-portlet .largeWCM, .toro-portlet .largeLiveText, .toro-portlet .largeSakai {
display: block;
height: 56px;
width: 56px;
margin: 0px 15px 0px 5px;
float: left;
}

.toro-portlet .largePersonal {
background: url("../images/icons/folder_personal_large.gif") no-repeat;
}

.toro-portlet .largeShared {
background: url("../images/icons/folder_shared_large.gif") no-repeat;
}

.toro-portlet .largeNetwork {
background: url("../images/icons/drive_network_large.gif") no-repeat;
}

.toro-portlet .largeLink {
background: url("../images/icons/link_icon_large.gif") no-repeat;
}

.toro-portlet .largeBlog {
background: url("../images/icons/blog_icon_large.gif") no-repeat;
}

.toro-portlet .largeBlogAdmin {
background: url("../images/icons/blog_admin_icon_large.gif") no-repeat;
}

.toro-portlet .largeWCM {
background: url("../images/icons/wcm_large.gif") no-repeat;
}

.toro-portlet .largeLiveText {
background: url("../images/icons/livetext_icon_large.gif") no-repeat;
}

.toro-portlet .largeSakai {
background: url("../images/icons/sakai_icon_large.gif") no-repeat;
}

.toro-portlet span.largePersonal, .toro-portlet span.largeShared, .toro-portlet span.largeNetwork, .toro-portlet span.largeLink, .toro-portlet span.largeBlog, .toro-portlet span.largeBlogAdmin, .toro-portlet span.largeWCM, .toro-portlet span.largeLiveText, .toro-portlet span.largeSakai, .toro-portlet span.noImage {
display: none;
}


/* SMALL ICONS 
 * Declaration for the smaller-size icons.
--------------------------------------------------------------------------------------*/

.toro-portlet .back-button, .toro-portlet .back-button-disabled {
background: url("../images/icons/button_back.gif") no-repeat;
}

.toro-portlet .welcomelink {
background: url("../images/icons/tree_folder_opened.gif") no-repeat;
}

.toro-portlet .folderopen {
background: url("../images/icons/tree_folder_opened.gif") top left no-repeat;
}

.toro-portlet .folderclosed {
background: url("../images/icons/tree_folder_closed.gif") no-repeat;
}

.toro-portlet .sharedfolderopen {
background: url("../images/icons/tree_shared_opened.gif") no-repeat;
}

.toro-portlet .sharedfolderclosed {
background: url("../images/icons/tree_shared_closed.gif") no-repeat;
}

.toro-portlet .networkfolderopen {
background: url("../images/icons/tree_network_opened.gif") no-repeat;
}

.toro-portlet .networkfolderclosed {
background: url("../images/icons/tree_network_closed.gif") no-repeat;
}

.toro-portlet .shared-items {
background: url("../images/icons/file_folder.gif") no-repeat;
}

.toro-portlet .selected-items {
background: url("../images/icons/file.gif") no-repeat;
}

.toro-portlet .group {
background: url("../images/icons/group.gif") left top no-repeat;
}

.toro-portlet .member {
background: url("../images/icons/member.gif") left top no-repeat;
}

.toro-portlet .removable {
background-image: url("../images/icons/action_close_blue.gif");
}

.toro-portlet .removable-selected {
background-image: url("../images/icons/action_close_blue.gif");
}

.toro-portlet .sharedfolder-icon {
background: url("../images/icons/file_shared_folder.gif") no-repeat;
}

.toro-portlet .folder-icon {
background: url("../images/icons/file_folder.gif") no-repeat;
}

.toro-portlet .file-icon {
background: url("../images/icons/file.gif") no-repeat;
}

.toro-portlet .edit-icon {
background: url("../images/icons/action_edit.gif") no-repeat;
}

.toro-portlet .remove-icon {
background: url("../images/icons/action_close_blue.gif") no-repeat;
}

.toro-portlet .up-icon {
background: url("../images/icons/action_up.gif") no-repeat;
}

.toro-portlet .attachments-icon {
background: url("../images/icons/paperclip_dark.gif") no-repeat left top;
}

.toro-portlet a.refresh-icon, .toro-portlet a:link.refresh-icon, .toro-portlet a:visited.refresh-icon {
background: url("../images/icons/refresh.gif") no-repeat;
}

.toro-portlet a.reddot-icon, .toro-portlet a:link.reddot-icon, .toro-portlet a:visited.reddot-icon {
background: url("../images/icons/reddot.gif") no-repeat;
}

.toro-portlet a.sortedAscending:link, .toro-portlet a.sortedAscending:visited {
background: url("../images/icons/sort_ascend.gif") no-repeat right top;
}

.toro-portlet a.sortedDescending:link, .toro-portlet a.sortedDescending:visited {
background: url("../images/icons/sort_descend.gif") no-repeat right top;
}
