<Context path="/@webappName@" docBase="@webappName@" crossContext="true">

    <Resource name="jdbc/@datasource@" auth="Container" type="javax.sql.DataSource"
        username="@jdbc.user@" password="@jdbc.password@"
        driverClassName="@jdbc.driver@" url="@jdbc.url@"
        maxActive="@jdbc.poolsize.uportal@" maxIdle="30" maxWait="10000"
        poolPreparedStatements="true"
        
        removeAbandoned="true"
        removeAbandonedTimeout="300"
        logAbandoned="true"
        testOnReturn="true"
        validationQuery="@jdbc.simplesql@"
    />
</Context>
