/* HelpBanner.CSS */
/* CSS used for customizing the banner found at the top of each channel help pages. */

body {
	margin: 0px;
	padding: 0px;
}

#helpBannerContainer {
	background-color: #336699;
	padding: 10px;
	height: 60px;
}

#helpBannerContainer h1 {
	color: white;
	font-size: 140%;
	margin: 0px;
	padding: 10px;
	text-align: center;
	border: 2px dashed #ffffff;
}